/* Body & container */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.message{
    padding:12px;
    margin:8px 0;
    border-radius:15px;
    opacity:0;
    animation:fadeUp 0.4s forwards;
}

@keyframes fadeUp{
    from{
        transform:translateY(20px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}

/* Button animation */
button{
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

/* Input focus animation */
input:focus{
    outline:none;
    transform:scale(1.02);
    transition:0.3s;
}

/* Typing dots */
.typing{
    display:flex;
    gap:6px;
    padding:10px;
}

.typing span{
    width:10px;
    height:10px;
    background:white;
    border-radius:50%;
    animation:bounce 0.6s infinite;
}

.typing span:nth-child(2){
    animation-delay:0.2s;
}

.typing span:nth-child(3){
    animation-delay:0.4s;
}

@keyframes bounce{
    0%,100%{
        transform:translateY(0);
        opacity:0.5;
    }
    50%{
        transform:translateY(-8px);
        opacity:1;
    }
}
#chat-container {
  width: 500px;
  max-width: 95%;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

#chat-header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

/* Chatbox */
#chatbox {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

/* Messages */
.message {
  margin: 8px 0;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  word-wrap: break-word;
}

.user {
  background-color: #2a64f6;
  color: #fff;
  align-self: flex-end;
}

.bot {
  background-color: #00c853;
  color: #fff;
  align-self: flex-start;
}

/* Input area */
#input-area {
  display: flex;
  border-top: 1px solid #333;
}

#input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #2c2c2c;
  color: #fff;
}

#send {
  background-color:#0047FA;
  border: none;
  color: white;
  padding: 12px 21px;
  cursor: pointer;
  font-size: 20px;
}

#send:hover {
  background-color: #001BFF
}
